.about {
  padding: 20px 0;
  position: relative;
  overflow: hidden;

  @media (min-width: $tablet) {
    padding: 40px 0;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.about__big-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image:
      image-set(
        url("../../img/about@1x.png") 1x,
        url("../../img/about@2x.png") 2x
      );
    top: 0;
    background-size: cover;
    background-position: 26% -26px;
    background-repeat: no-repeat;
    width: 100%;
    height: 390px;
    z-index: -1;
  }

  @media (min-width: $tablet) {
    width: 768px;
    margin: 0 auto;

    &::before {
      content: "";
      position: absolute;
      background-image:
        image-set(
          url("../../img/about@1x.png") 1x,
          url("../../img/about@2x.png") 2x
        );
      top: 170px;
      background-size: cover;
      background-position: left top;
      background-repeat: no-repeat;
      width: 575px;
      height: 314px;
      z-index: -1;
      left: -20px;
    }
  }

  @media (min-width: $desktop) {
    width: 1440px;
    margin: 0 auto;

    &::before {
      content: "";
      position: absolute;
      background-image:
        image-set(
          url("../../img/about@1x.png") 1x,
          url("../../img/about@2x.png") 2x
        );
      top: 100px;
      background-size: cover;
      background-position: left top;
      background-repeat: no-repeat;
      width: 847px;
      height: 477px;
      z-index: -1;
      left: -93px;
    }
  }
}

.about__wrapper {
  padding-top: 400px;

  @media (min-width: $tablet) {
    padding-top: 0;
    width: 672px;
    margin: 0 auto; /* Убираем центрирование */
    display: flex;
    flex-direction: column;/* Включаем flexbox */
    justify-content: space-between; /* Распределяем пространство между элементами */
    align-items: flex-end; /* Выравниваем элементы по верхнему краю */
  }

  @media (min-width: $desktop) {
    padding: 100px 0 178px;
    width: 1200px;
    margin: 0 auto; /* Убираем центрирование */
    display: flex;
    flex-direction: column;/* Включаем flexbox */
    justify-content: space-between; /* Распределяем пространство между элементами */
    align-items: flex-end; /* Выравниваем элементы по верхнему краю */
  }
}

.about__wrapper h2 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  text-align: left;
  position: relative;
  z-index: 1;
  padding: 16px 0 17px;
  margin: 0 auto 26px;
  width: 290px;

  &::before {
    content: attr(data-title);
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    font-size: 26px;
    line-height: 26px;
    color: #2d383f;
    opacity: 3%;
    z-index: -1;
    pointer-events: none;

    @media (min-width: $tablet) {
      font-size: 40px;
      line-height: 40px;
    }

    @media (min-width: $desktop) {
      font-size: 55px;
      line-height: 55px;
      top: 6px;
    }
  }

  @media (min-width: $tablet) {
    font-size: 25px;
    line-height: 25px;
    padding: 20px 0 10px;
    margin: 0 0 37px;
    width: 270px;
  }

  @media (min-width: $desktop) {
    font-size: 35px;
    line-height: 35px;
    padding: 45px 0 0;
    margin: 0 0 59px;
    width: 660px;
  }
}

.about__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 27px;
  width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 270px;
    margin: 0;
    gap: 29px;
  }

  @media (min-width: $desktop) {
    width: 660px;
    margin: 0;
  }
}

.about__container h3 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: left;
  margin: 0 0 13px;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 11px;
  }

  @media (min-width: $desktop) {
    font-size: 21px;
    line-height: 21px;
    margin: 0 0 16px;
  }
}

.about__container p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 14px;
    line-height: 22px;
  }
}

.about__history,
.about__goal {
  @media (min-width: $desktop) {
    width: 585px;
  }
}
