.advantages__card-wrapper.swiper {
  @media (min-width: $desktop) {
    width: 2020px;
    margin: 0 0 0 -290px;
    display: flex;
  }
}

.advantages-card__list.swiper-wrapper {
  padding: 0;
  list-style-type: none;
  width: 290px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;

  @media (min-width: $tablet) {
    width: 678px;
    flex-direction: row;
    gap: 30px;
  }

  @media (min-width: $desktop) {
    width: auto;
    flex-wrap: nowrap;
    gap: 0;
  }
}

.advantages-card__item.swiper-slide {
  padding: 19px 10px;
  box-sizing: border-box;
  border: 1px solid rgba(2, 102, 193, 0.1);
  width: 290px;
  position: relative;
  background-color: $color-accent;

  &::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
    border: 1px solid $color-additional;
    background-position: center;
    top: 19px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet) {
      top: 29px;
      width: 48px;
      height: 48px;
    }

    @media (min-width: $desktop) {
      top: 39px;
      width: 54px;
      height: 54px;
    }
  }

  @media (min-width: $tablet) {
    padding: 31px 20px 29px;
    width: 324px;
    min-height: 340px;
  }

  @media (min-width: $desktop) {
    padding: 40px 20px;
    width: 380px;
    min-height: 329px;
  }
}


.advantages-card__item.advantages-card__item--savety {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("/__spritemap#sprite-shield-view");
    background-size: 24px 24px;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet) {
    padding: 30px 19px 29px;
  }

  @media (min-width: $desktop) {
    padding: 30px 20px;
  }
}

.advantages-card__item.advantages-card__item--knowledge {
  position: relative;
  margin-top: 1px; /* тест */

  &::before {
    content: "";
    position: absolute;
    background-image: url("/__spritemap#sprite-crown-view");
    background-size: 22px 20px;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet) { /* тест */
    margin-top: 0;
  }
}

.advantages-card__item.advantages-card__item--equipment {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("/__spritemap#sprite-cross-view");
    background-size: 22px 20px;
    background-repeat: no-repeat;
  }
}

.advantages-card__item.advantages-card__item--routes {
  position: relative;
  margin-top: 1px; /* тест */

  &::before {
    content: "";
    position: absolute;
    background-image: url("/__spritemap#sprite-path-view");
    background-size: 22px 22px;
    background-repeat: no-repeat;

    @media (min-width: $tablet) {
      background-size: 24px 24px;
    }
  }

  @media (min-width: $tablet) {
    margin-top: 0;
  }
}

.advantages-card__item.advantages-card__item--eco {
  position: relative;

  @media (width <= 767px) {
    padding: 20px 10px 19px;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("/__spritemap#sprite-leaf-view");
    background-size: 22px 17px;
    background-repeat: no-repeat;

    @media (width <= 767px) {
      top: 20px;
    }
  }
}


.advantages-card__wrapper {
  padding-top: 62px;
  position: relative;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   background-repeat: no-repeat;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }

  @media (min-width: $tablet) {
    padding-top: 72px;
  }

  @media (min-width: $desktop) {
    padding-top: 84px;
  }
}

.advantages-card__item--savety .advantages-card__wrapper {
  @media (min-width: $tablet) {
    padding-top: 73px;
  }

  @media (min-width: $desktop) {
    padding-top: 94px;
  }
}


// .advantages-card__item--savety .advantages-card__wrapper::after {
//   background-image: url("/__spritemap#sprite-shield-view");
//   width: 24px;
//   height: 24px;
//   top: 9px;
// }

// .advantages-card__item--knowledge .advantages-card__wrapper::after {
//   background-image: url("/__spritemap#sprite-crown-view");
//   width: 22px;
//   height: 20px;
//   top: 11px;
// }

// .advantages-card__item--equipment .advantages-card__wrapper::after {
//   background-image: url("/__spritemap#sprite-boots-view");
//   width: 22px;
//   height: 20px;
//   top: 11px;
// }

// .advantages-card__item--routes .advantages-card__wrapper::after {
//   background-image: url("/__spritemap#sprite-path-view");
//   width: 22px;
//   height: 22px;
//   top: 10px;
// }

// .advantages-card__item--eco .advantages-card__wrapper::after {
//   background-image: url("/__spritemap#sprite-leaf-view");
//   width: 22px;
//   height: 15px;
//   top: 13px;
// }

.advantages-card__wrapper h3 {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto 15px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 16px;
    margin: 0 auto 14px;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 18px;
  }
}

.advantages-card__wrapper--eco h3 {
  width: 65%;

  @media (min-width: $tablet) {
    width: 70%;
  }

  @media (min-width: $desktop) {
    width: 100%;
  }
}

.advantages-card__wrapper p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 22px;
  }
}

.advantages-card__item.advantages-card__item--knowledge br {
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}

.advantages-card__item--equipment br {
  display: block;

  @media (min-width: $desktop) {
    display: none;
  }
}

.advantages-card__item--routes br {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

// .advantages-card__item.advantages-card__item--savety h3 {
//   @media (min-width: $tablet) {
//     margin-top: -1px;
//   }
// }

.advantages-card__item--equipment .advantages-card__wrapper p {
  width: 101%;
  margin: 0 auto;
  margin-left: -1px;

  @media (min-width: $tablet) {
    width: 93%;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    width: 101%;
    margin: 0 auto;
    margin-left: -1px;
  }
}
