.button {
  font-family: $montserrat;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  display: block;
  border: 1px solid transparent;
  background-color: $color-additional;
  color: $color-accent;
  padding: 19px;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;

  &:hover {
    background-color: $color-accent;
    color: $color-dark-blue;
    border: 1px solid $color-dark-blue;
  }

  &:focus,
  &:focus-visible {
    background-color: $color-accent;
    color: $color-dark-blue;
    border: 1px solid transparent;
  }

  &:active {
    background-color: $color-dark-blue;
    color: $color-accent;
    border: 1px solid $color-dark-blue;
  }

  &[disabled] {
    background-color: $color-disabled;
    color: $color-accent;
    border: 1px solid $color-disabled;
    cursor: not-allowed;
    pointer-events: none;
  }
}
