.button {
  font-family: $montserrat;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  display: block;
  border: none;
  background-color: $color-additional;
  color: $color-accent;
  padding: 20px;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
}
