.card__wrapper-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 12px;
  align-items: center;
  margin-bottom: 15px;
}

.card__place {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: $color-accent;
  padding: 8px 12px 8px 34px;
  background-color: $color-additional;
  box-sizing: border-box;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    mask-image: url("/__spritemap#sprite-pin-filled-view");
    mask-repeat: no-repeat;
    background-color: $color-accent;
    width: 9px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
  }
}

.card__period {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  align-items: center;
}

.card__period-day {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: $color-accent;
  padding: 4px 0 4px 32px;
  background-color: transparent;
  box-sizing: border-box;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("/__spritemap#sprite-sun-view");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
  }
}

.card__period-night {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: $color-accent;
  padding: 4px 0 4px 32px;
  background-color: transparent;
  box-sizing: border-box;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("/__spritemap#sprite-moon-view");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    left: 1px;
  }
}

.card__name-tour {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: $color-accent;
  margin: 0 0 31px;
  position: relative;
  word-break: break-word;

  &::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: $color-accent;
    opacity: 20%;
    bottom: -15px;
    left: 0;
  }


  @media (min-width: $desktop) {
    width: 85%;
  }
}

.card__details {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.card__difficulty-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 84px;
}

.card__difficulty {
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  width: 84px;
  color: $color-accent;
}

.card__wrapper-star {
  display: flex;
  align-items: center;
  gap: 1px;
}

.card__stars.checked {
  background-image: url("/__spritemap#sprite-star-view");
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 14px;
}

.card__stars {
  background-image: url("/__spritemap#sprite-star-stroke-view");
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 14px;
}

.card__date {
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  color: $color-accent;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.card__date-number {
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
  color: $color-accent;
}

.card__group {
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  color: $color-accent;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.card__group-number {
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
  color: $color-accent;
}
