.details {
  display: none;

  @media (min-width: $desktop) {
    display: flex;
    gap: 10px;
  }
}

.details__duration,
.details__level {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $color-accent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 13px 19px 14px 39px;
  box-sizing: border-box;
  position: relative;
}

.details__duration {
  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 20px;
    background-image: url("/__spritemap#sprite-moon-view");
    width: 11px;
    height: 11px;
  }
}

.details__level {
  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 20px;
    background-image: url("/__spritemap#sprite-level-view");
    width: 10px;
    height: 11px;
  }
}
