.details {
  display: none;

  @media (min-width: $desktop) {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 80px;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.details__duration,
.details__level {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $color-accent;
  min-height: 44px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 14px 20px 14px 40px;
  box-sizing: border-box;
  position: relative;
}

.details__duration::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 20px;
  background-image: url("/__spritemap#sprite-moon-view");
  width: 11px;
  height: 11px;
}

.details__level::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 20px;
  background-image: url("/__spritemap#sprite-level-view");
  width: 10px;
  height: 11px;
}
