.gallery {
  padding: 20px 0 3px;

  @media (min-width: $tablet) {
    padding: 40px 0 3px;
  }

  @media (min-width: $desktop) {
    padding: 100px 0 3px;
  }
}

.gallery__text-wrapper {
  margin-bottom: 31px;

  @media (min-width: $tablet) {
    margin-bottom: 21px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 45px;
  }
}

.gallery__title {
  margin: 0 0 9px;

  @media (min-width: $tablet) {
    margin: 0 0 20px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 24px;
  }
}

.gallery__title.title {
  &::before {
    top: 3px;

    @media (min-width: $desktop) {
      top: 6px;
    }
  }

  @media (width <= 767px) {
    padding: 17px 0;
  }

  @media (min-width: $desktop) {
    padding: 23px 0 0;
  }
}

.gallery__controls-wrapper {
  display: block;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  @media (min-width: $desktop) {
    display: block;
  }
}

.gallery__controls-wrapper p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 22px;
    width: 420px;
  }

  @media (min-width: $desktop) {
    font-size: 16px;
    line-height: 24px;
    width: 600px;
  }
}

.gallery__buttons {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.gallery__slider-button.swiper-button-prev,
.gallery__slider-button.swiper-button-next {
  width: 37px;
  height: 35px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  box-sizing: border-box;
  background-color: $color-additional;
  display: none;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 9px;
    mask: url("/__spritemap#sprite-big-arrow-view");
    background-color: $color-accent;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease-in-out;
    z-index: 1;
  }

  &:hover {
    background-color: transparent;
    border-color: #1c3374;
  }

  &:focus,
  &:focus-visible {
    background-color: transparent;
    border-color: transparent;
    outline: none;
  }

  &:active {
    background-color: #1c3374;
    border-color: transparent;
  }

  &:not(:disabled):hover::before,
  &:not(:disabled):focus::before,
  &:not(:disabled):focus-visible::before {
    background-color: #1c3374;
  }

  &:not(:disabled):active::before {
    background-color: $color-accent;
  }

  &:disabled {
    background-color: #999999;
    border-color: transparent;
  }


  @media (min-width: $tablet) {
    display: block;
  }
}

.gallery__slider-button--next.swiper-button-next {
  transform: rotate(-180deg);

  &::before {
    @media (width >= 768px) and (width <= 1399px) {
      left: 47%;
      margin-top: -1px;
    }
  }
}

