.header__button {
  width: 26px;
  height: 26px;
  border: none;
  background-color: transparent;
  padding: 0;
  position: relative;
  display: block;
  margin-right: 122px;
  z-index: 10;

  @media (min-width: $tablet) {
    margin-right: 200px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.main-nav--closed .header__button::before {
  content: "";
  position: absolute;
  background-image: url("/__spritemap#sprite-menu-view");
  background-repeat: no-repeat;
  display: block;
  width: 26px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-nav--opened .header__button::before {
  content: "";
  position: absolute;
  background-image: url("/__spritemap#sprite-close-menu-view");
  background-repeat: no-repeat;
  fill: #ffffff;
  display: block;
  width: 21px;
  height: 21px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__logo-link {
  margin-bottom: 16px;
  z-index: 10;
  outline: none;

  @media (min-width: $tablet) {
    padding: 0 42px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    padding: 10px 31px 10px 32px;
  }
}

.header__logo-image {
  display: block;
}

.header__contact-phone {
  font-size: $font-size-14;
  line-height: 14px;
  font-weight: 600;
  color: $color-accent;
  display: block;
  text-decoration: none;
  margin-left: auto;
  z-index: 10;
  grid-column: 2 / 3;
  outline: none;

  @media (min-width: $tablet) {
    font-size: $font-size-16;
    line-height: 16px;
    padding-top: 3px;
    grid-column: 3 / 4;
  }

  @media (min-width: $desktop) {
    font-size: $font-size-18;
    line-height: 18px;
    grid-column: 3 / 4;
  }

  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }

  &:focus,
  &:focus-visible {
    color: $color-basis;
    outline: none;
  }

  &:active {
    color: $color-dark-blue;
  }

  &[disabled] {
    color: $color-disabled;
    cursor: not-allowed;
  }
}
