.main-header {
  background-color: #0266c1;
  padding: 15px 0 14px;

  @media (min-width: $tablet) {
    padding: 20px 0;
  }

  @media (min-width: $desktop) {
    padding: 32px 0;
  }
}

.main-header__container {
  display: grid;
  grid-template-columns: 1fr auto;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 205px auto 159px;
  }
}
