.main-header {
  background-color: #0266c1;
  padding: 15px 0 14px;

  @media (min-width: $tablet) {
    padding: 20px 0;
  }

  @media (min-width: $desktop) {
    padding: 42px 0;
  }
}

.main-header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;

  @media (min-width: $tablet) {
    align-items: center;
  }
}

.main-header__contact-phone {
  font-size: $font-size-14;
  line-height: 14px;
  font-weight: 600;
  color: $color-accent;
  display: block;
  text-decoration: none;
  margin-left: auto;

  @media (min-width: $tablet) {
    font-size: $font-size-16;
    line-height: 16px;
    margin-left: 0;
  }

  @media (min-width: $desktop) {
    order: 2;
  }
}
