.menu {
  @media (min-width: $desktop) {
    order: 1;
  }
}

.menu__button {
  width: 26px;
  height: 26px;
  border: none;
  background-color: transparent;
  padding: 0;
  position: relative;
  display: block;

  &::before {
    content: "";
    position: absolute;
    background-image: url("/__spritemap#sprite-menu-view");
    width: 26px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.menu__nav {
  // display: none;

  @media (max-width: $tablet) {
    display: none;
    position: absolute;
    top: -100%;
    padding: 100px 15px;
    left: 0;
    background-color: #0266c1;
    z-index: -1;
  }

  @media (min-width: $desktop) {
    display: block;
  }
}

.menu__nav.active {
  display: block;
  top: 0;
}

.menu__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 22px;

  @media (min-width: $tablet) {
    gap: 26px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    gap: 30px;
  }
}

.menu__link {
  font-size: $font-size-14;
  line-height: 14px;
  font-weight: 700;
  color: $color-accent;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media (min-width: $desktop) {
    text-transform: capitalize;
    font-size: $font-size-16;
    line-height: 16px;
    font-weight: 400;
  }
}
