.main-nav--closed .menu {
  display: none;
}

@media (width >= 1440px) {
  .main-nav--closed .menu {
    display: block;
  }
}

.main-nav--opened .menu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  padding: 100px 0 50px;
  min-height: 200px;
  background-color: #0266c1;

  @media (min-width: $tablet) {
    padding: 92px 0 70px;
  }
}

.menu__list {
  padding: 0;
  list-style-type: none;
  width: 290px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 22px;

  @media (min-width: $tablet) {
    gap: 26px;
    width: 678px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 100%;
    padding-top: 1px;
  }
}

.menu__link {
  font-size: $font-size-14;
  line-height: 14px;
  font-weight: 700;
  color: $color-accent;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  @media (min-width: $tablet) {
    font-size: $font-size-16;
    line-height: 16px;
  }

  @media (min-width: $desktop) {
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 0;
  }
}
