// .photocard {
//   display: none;

//   @media (min-width: $tablet) {
//     display: block;
//     position: relative;
//     bottom: 562px;
//     width: 442px;
//     height: 365px;
//     left: 50%;
//     transform: translateX(-50%);
//   }

//   @media (min-width: $desktop) {
//     bottom: 613px;
//     width: 410px;
//     height: 459px;
//   }
// }

// .photocard__image-lake {
//   display: none;

//   @media (min-width: $tablet) {
//     display: block;
//     position: absolute;
//     left: 0;
//   }
// }

// .photocard__image-tourist {
//   display: none;

//   @media (min-width: $tablet) {
//     display: block;
//     position: absolute;
//     right: 0;
//     bottom: 0;
//   }
// }

.photocard {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    position: relative;
    width: 442px;
    height: 365px;
    margin-top: 45px;
    left: 118px;
  }

  @media (min-width: $desktop) {
    width: 410px;
    height: 459px;
    bottom: 355px;
    margin-top: 0;
    margin-left: 672px;
    z-index: -1;
  }
}

.photocard__image-tourist {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
