.reviews {
  padding: 20px 0 0;

  @media (min-width: $tablet) {
    padding: 40px 0 0;
  }

  @media (min-width: $desktop) {
    padding: 100px 0 77px;
  }
}

.reviews__wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: auto;
    margin: 0 0 0 auto;
  }

  @media (min-width: $desktop) {
    margin: 0 0 0 120px;
  }
}

.reviews__title-wrapper {
  width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 678px;
  }

  @media (min-width: $desktop) {
    width: 1200px;
    margin: 0 auto 28px;
    margin-left: 0;
  }
}

.reviews__title {
  margin: 0;

  @media (min-width: $tablet) {
    width: 500px;
  }

  @media (min-width: $desktop) {
    width: 600px;
  }
}

.reviews__title.title {
  padding: 17px 0;

  &::before {
    top: 3px;

    @media (min-width: $tablet) {
      top: 5px;
    }
  }

  @media (min-width: $tablet) {
    padding: 20px 0 10px;
  }

  @media (min-width: $desktop) {
    padding: 45px 0 0;
  }
}

.reviews__buttons {
  display: flex;
  align-items: center;
  gap: 4px;
}

.reviews__slider-button.swiper-button-prev,
.reviews__slider-button.swiper-button-next {
  width: 37px;
  height: 35px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  box-sizing: border-box;
  background-color: $color-additional;
  display: none;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 9px;
    mask: url("/__spritemap#sprite-big-arrow-view");
    background-color: $color-accent;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease-in-out;
    z-index: 1;
  }

  &:hover {
    background-color: transparent;
    border-color: $color-dark-blue;
  }

  &:focus,
  &:focus-visible {
    background-color: transparent;
    border-color: transparent;
    outline: none;
  }

  &:active {
    background-color: $color-dark-blue;
    border-color: transparent;
  }

  &:not(:disabled):hover::before,
  &:not(:disabled):focus::before,
  &:not(:disabled):focus-visible::before {
    background-color: $color-dark-blue;
  }

  &:not(:disabled):active::before {
    background-color: $color-accent;
  }

  &:disabled {
    background-color: $color-disabled;
    border-color: transparent;
    cursor: not-allowed;
  }


  @media (min-width: $tablet) {
    display: block;
  }
}

.reviews__slider-button--next.swiper-button-next {
  transform: rotate(-180deg);
}

.reviews__slider-wrapper.swiper {
  padding: 15px 15px 20px;

  @media (min-width: $tablet) {
    padding: 25px 15px 40px 45px;
  }

  @media (min-width: $desktop) {
    padding: 10px;
  }
}
