.training {
  padding: 20px 0;
  overflow: hidden;

  @media (min-width: $tablet) {
    padding: 40px 0;
  }
}

.training__title {
  margin: 0 0 16px;

  @media (min-width: $tablet) {
    margin: 0 0 14px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 9px;
  }
}

.training__title.title {
  padding: 17px 0;

  &::before {
    top: 5px;
  }

  @media (min-width: $tablet) {
    padding: 20px 0;
  }

  @media (min-width: $desktop) {
    padding: 23px 0;
  }
}

.training__text {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 29px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 25px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 55px;
    width: 820px;
  }
}

.training__card-wrapper {
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    margin-bottom: 27px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 59px;
  }
}
