.training-card__title-wrapper {
  position: relative;
  margin: 0 0 21px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    margin: 0 0 30px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 16px;
  }
}

.training-card__title {
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  text-align: left;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 25px;
    line-height: 25px;
    padding-top: 5px;
  }

  @media (min-width: $desktop) {
    font-size: 35px;
    line-height: 35px;
    padding-top: 7px;
  }
}

.training-card__buttons {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-top: 2px;

  @media (min-width: $desktop) {
    padding-top: 0;
    margin-top: -1px;
  }
}

.training-card__slider-button.swiper-button-prev,
.training-card__slider-button.swiper-button-next {
  width: 37px;
  height: 35px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  box-sizing: border-box;
  background-color: $color-additional;
  display: none;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 9px;
    mask: url("/__spritemap#sprite-big-arrow-view");
    background-color: $color-accent;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease-in-out;
    z-index: 1;
  }

  &:hover {
    background-color: transparent;
    border-color: #1c3374;
  }

  &:focus,
  &:focus-visible {
    background-color: transparent;
    border-color: transparent;
    outline: none;
  }

  &:active {
    background-color: #1c3374;
    border-color: transparent;
  }

  &:not(:disabled):hover::before,
  &:not(:disabled):focus::before,
  &:not(:disabled):focus-visible::before {
    background-color: #1c3374;
  }

  &:not(:disabled):active::before {
    background-color: $color-accent;
  }

  &:disabled {
    background-color: #999999;
    border-color: transparent;
  }


  @media (min-width: $tablet) {
    display: block;
  }
}

.training-card__slider-button--next.swiper-button-next {
  transform: rotate(-180deg);
}

.training-card__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.training-card__item {
  padding: 15px 16px 15px 14px;
  box-sizing: border-box;
  border: 1px solid rgba(2, 102, 193, 0.1);
  background-color: $color-accent;

  @media (min-width: $tablet) {
    padding: 14px 15px 14px 14px;
  }

  @media (min-width: $desktop) {
    padding: 14px 16px 14px 14px;
  }
}

.training-card__item.swiper-slide {
  height: auto;
}

.training-card__item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.training-card__image-wrapper {
  width: 260px;
  height: 200px;
  overflow: hidden;

  @media (min-width: $tablet) {
    width: 183px;
  }

  @media (min-width: $desktop) {
    width: 255px;
  }
}

.training-card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.training-card__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}

.training-card span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  padding-top: 1px;
}

.training-card__link-social {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(45, 56, 63, 0.3);
  box-sizing: border-box;
  position: relative;
  background-color: transparent;
  margin-right: -2px;

  &::after {
    content: "";
    position: absolute;
    mask-image: url("/__spritemap#sprite-vk-view");
    mask-repeat: no-repeat;
    width: 14px;
    height: 8px;
    background-color: #2d383f;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: $tablet) {
    margin-right: -1px;
  }

  @media (min-width: $tablet) {
    margin-right: -2px;
  }

  &:hover {
    border: 1px solid rgba(45, 56, 63, 1);
  }

  &:not([disabled]):active {
    border: none;
    background-color: $color-additional;
  }

  &:focus,
  &:focus-visible {
    outline: none;
    border: none;
  }

  &:active::after {
    background-color: $color-accent;
  }

  &[disabled] {
    border: 1px solid rgba(45, 56, 63, 0.3);
    cursor: not-allowed;
    pointer-events: none;
  }

  &[disabled]::after {
    background-color: rgba(45, 56, 63, 0.3);
  }
}

.training-card p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  margin-top: -1px;
}
