$color-basis: #2d383f;
$color-additional: #0266c1;
$color-accent: #ffffff;
$mobile: 767px;
$tablet: 768px;
$desktop: 1440px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-32: 32px;
$font-size-40: 40px;
$font-size-42: 42px;
$font-size-48: 48px;
$font-size-54: 54px;
$font-size-60: 60px;
$font-size-62: 62px;
$font-size-64: 64px;
$font-size-70: 70px;
$font-size-72: 72px;
$font-size-82: 82px;
$font-size-92: 92px;
